body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: darkblue;
    color: white;
}

#box {
        width: 200px;
        height: 200px;
        background-color: blue;
        display: none;
        position: relative; 
}